<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <form v-on:submit.prevent="submit">
            <h2>Tus cursos favoritos</h2>
            
            <template v-for="el in cursos">
                <input 
                type="checkbox" 
                v-model="cursosSelected" 
                v-bind:id="el.value" 
                v-bind:value="el.value" />
                <label v-bind:for="el.value">{{ el.nombre }}</label>
            </template>

            <button type="submit">Enviar</button>
        </form>
    </div>

    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script type="text/javascript">
        let app = new Vue({
            el: '#app',
            data: {
                cursos: [
                    { nombre: 'Curso de Intro a Vue', value: 'vue'},
                    { nombre: 'Curso de Intro a SEO', value: 'SEO'},
                    { nombre: 'Curso de Intro a React', value: 'React'},
                    { nombre: 'Curso de Intro a Growth', value: 'Growth'}
                ],
                cursosSelected: []
            },
            methods: {
                submit() {
                    console.log("Ejecuta la funcion submit")
                    console.log(this.cursosSelected)
                }
            }
        });
    </script>
</body>

</html>