<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <input type="button" value="Insert Default Profile" (click)="updateProfileGroup()">
  <label>
    First Name:
    <input type="text" formControlName="firstName">
  </label>

  <label>
    Last Name:
    <input type="text" formControlName="lastName">
  </label>

  <label>
    Age:
    <input type="number" formControlName="age">
  </label>

  <div formGroupName="address">
    <h3>Address</h3>

    <label>
      Street:
      <input type="text" formControlName="street">
    </label>

    <label>
      City:
      <input type="text" formControlName="city">
    </label>

    <label>
      State:
      <input type="text" formControlName="state">
    </label>

    <label>
      Zip Code:
      <input type="text" formControlName="zip">
    </label>
  </div>

  <button type="submit" [disabled]="!profileForm.valid">Submit</button>
</form>
